# Copyright 2019-present Open Networking Foundation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# FIXME defaults are not read by sub-charts
defaults:
  topics:
    core_topic: rwcore
    adapter_open_olt_topic: openolt
    adapter_open_onu_topic: brcm_openomci_onu
    kv_store_data_prefix: service/voltha

voltha:
  enabled: true
  services:
    kafka:
      adapter:
        address: voltha-infra-kafka.default.svc:9092
      cluster:
        address: voltha-infra-kafka.default.svc:9092
    etcd:
      address: voltha-infra-etcd.default.svc:2379
    controller:
      - address: voltha-infra-onos-classic-hs.default.svc:6653

voltha-adapter-openonu:
  enabled: true
  services:
    kafka:
      adapter:
        service: voltha-infra-kafka.default.svc
        port: 9092
      cluster:
        service: voltha-infra-kafka.default.svc
        port: 9092
    etcd:
      service: voltha-infra-etcd.default.svc
      port: 2379

voltha-adapter-openolt:
  enabled: true
  services:
    kafka:
      adapter:
        address: voltha-infra-kafka.default.svc:9092
      cluster:
        address: voltha-infra-kafka.default.svc:9092
    etcd:
      address: voltha-infra-etcd.default.svc:2379
