apiVersion: v1
kind: Service
metadata:
  labels:
    name: voltha-go-controller
    release: {{ .Release.Name }}
  name: voltha-go-controller
spec:
  ports:
  - name: of
    port: 6653
    targetPort: 6653
  - name: ui
    port: 8181
    targetPort: 8181
  selector:
    app: voltha-go-controller 
